html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.min-vh-100 {
  min-height: 100vh;
}

.page-header {
  border-bottom: solid 1px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.fa-text {
  display: inline-block;
  font-family: $font-family-base;
}
