.offcanvas-menu {
  color: $navbar-dark-color;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-left: solid 4px transparent;
      color: $navbar-dark-color;
      display: block;
      padding: 15px;

      .offcanvas-menu-secondary-open {
        display: none;
      }

      .offcanvas-menu-secondary-closed {
        display: inline-block;
      }

      &.active {
        background-color: $gray-500;
        border-color: $gray-800;

        .offcanvas-menu-secondary-open {
          display: inline-block;
        }

        .offcanvas-menu-secondary-closed {
          display: none;
        }
      }

      &:hover {
        color: $navbar-dark-hover-color;
        background-color: $gray-700;
        border-color: $black;
      }
    }
  }

  .menu-lock-toggle,
  .offcanvas-menu-toggle {
    background: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    opacity: .5;
    padding: 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  @each $color, $value in $theme-colors {
    &.bg-#{$color} {

      ul {

        a {

          &:hover {
            background-color: darken($value, 15%);
            border-color: darken($value, 25%);
          }

          &.active {
            background-color: lighten($value, 10%);
            border-color: darken($value, 25%);
            color: darken($value, 25%);

            &:hover {
              color: darken($value, 25%);
            }
          }
        }
      }
    }
  }

  &.offcanvas-light,
  &.navbar-light {
    color: $navbar-light-color;

    ul {

      a {
        color: $navbar-light-color;

        &:hover {
          color: $navbar-light-hover-color;
        }
      }
    }

    .menu-lock-toggle,
    .offcanvas-menu-toggle {
      color: $navbar-light-color;
    }
  }

  .submenu {
    display: none;

    a {
      padding-left: $spacer * 3;
    }

    &.open {
      display: block;
    }
  }
}

.offcanvas-main-content {

  &.push {
    position: absolute;
    width: 100vw;
  }

  &.menu-open-20 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 80%;
    }
  }

  &.menu-open-25 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 75%;
    }
  }

  &.menu-open-33 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 67%;
    }
  }

  &.menu-open-50 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 50%;
    }
  }
}
