//Radio Button - Pure CSS

//Variables
$radio-color: $gray-300;
$radio-check-color: $success;
$radio-hover-color: $gray-400;

$label-font-size: 1.5rem;
$radio-circumfrence: 40px;

$shadow-color: #d3d3d3;

.fs-radio {
  border-radius: 50%;
  height: $radio-circumfrence;
  position: relative;

  .fs-radio-input {
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: $radio-color;
    border: 0;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: $radio-circumfrence;
    outline: none;
    position: relative;
    width: $radio-circumfrence;
    z-index: 10;

    &:hover {
      background: $radio-hover-color;
    }

    &:checked {
      background: $radio-check-color;
    }

    &::before {
      display: inline-block;
      font-size: $label-font-size;
      height: $radio-circumfrence;
      line-height: $radio-circumfrence;
      position: absolute;
      text-align: center;
      width: $radio-circumfrence;
    }

    &.checkmark {

      &:hover {

        &::before {
          content: '\2713';
        }
      }

      &:checked {

        &::before {
          content: '\2713';
        }
      }
    }

    &~.fs-radio-label {
      color: $white;
      cursor: pointer;
      font-size: $label-font-size;
      left: 0;
      line-height: 1;
      margin-top: -($label-font-size / 2);
      position: absolute;
      text-align: center;
      top: 50%;
      width: $radio-circumfrence;
      z-index: 11;
    }

    &~label {
      display: inline-block;
      font-size: $label-font-size;
      position: relative;
      top: -($label-font-size / 2);
    }
  }
}
