.offcanvas-menu {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  // transition: .5s;
  width: 0;
  z-index: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      border-left: solid 4px transparent;
      color: $white;
      display: block;
      padding: 15px;

      .offcanvas-menu-secondary-open {
        display: none;
      }

      .offcanvas-menu-secondary-closed {
        display: inline-block;
      }

      &.active {
        background-color: $gray-500;
        border-color: $gray-800;

        .offcanvas-menu-secondary-open {
          display: inline-block;
        }

        .offcanvas-menu-secondary-closed {
          display: none;
        }
      }

      &:hover {
        background-color: $gray-700;
        border-color: $black;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &.bg-#{$color} {

      ul {

        a {
          @if $color == 'light' {
            color: $navbar-light-color;
          }

          &:hover {
            background-color: darken($value, 15%);
            border-color: darken($value, 25%);
          }

          &.active {
            background-color: lighten($value, 10%);
            border-color: darken($value, 25%);
          }
        }
      }
    }
  }

  .submenu {
    display: none;

    a {
      padding-left: $spacer * 3;
    }

    &.open {
      display: block;
    }
  }
}

.offcanvas-main-content {

  &.push {
    position: absolute;
    width: 100vw;
  }

  &.menu-open-20 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 80%;
    }
  }

  &.menu-open-25 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 75%;
    }
  }

  &.menu-open-33 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 67%;
    }
  }

  &.menu-open-50 {

    .stick-to-top,
    .stick-to-bottom {
      transition: width .5s;
      width: 50%;
    }
  }
}

.menu-lock-toggle,
.offcanvas-menu-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  opacity: .5;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
