// Ice Cream Colors
$chocolate: #69340f;
$dk-chocolate: #2a1506;
$caramel: #b8860b;
$blueberry: #d28fc8;
$strawberry: #ffc5d9;
$mint: #c2f2d0;
$french-vanilla: #fdf5c9;
$vanilla: #fffcf8;
$orange: #ffcb85;

$theme-colors: (
  primary: $chocolate,
  secondary: $caramel,
  success: $mint,
  info: $blueberry,
  warning: $french-vanilla,
  danger: $strawberry,
  light: $vanilla,
  dark: $dk-chocolate
) !default;

$link-color:            $orange !default;
