$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-600: #868e96 !default;
$gray-800: #343a40 !default;

// Ice Cream Colors
$chocolate: #6b3e26;
$caramel: #b8860b;
$blueberry: #d28fc8;
$strawberry: #ffc5d9;
$mint: #c2f2d0;
$vanilla: #fdf5c9;
$orange: #ffcb85;

$theme-colors: (
  primary: $chocolate,
  secondary: $caramel,
  success: $mint,
  info: $blueberry,
  warning: $vanilla,
  danger: $strawberry,
  light: $gray-100,
  dark: $gray-800
) !default;

$link-color:            $orange !default;
