// Ice Cream Colors
$chocolate: #69340f !default;
$dk-chocolate: #2a1506 !default;
$caramel: #b8860b !default;
$blueberry: #d28fc8 !default;
$strawberry: #ffc5d9 !default;
$mint: #c2f2d0 !default;
$french-vanilla: #fdf5c9 !default;
$vanilla: #fffcf8 !default;
$orange: #ffcb85 !default;

$theme-colors: (
  primary: $chocolate,
  secondary: $caramel,
  success: $mint,
  info: $blueberry,
  warning: $french-vanilla,
  danger: $strawberry,
  light: $vanilla,
  dark: $dk-chocolate
) !default;

$link-color: $orange !default;
