$white: #fff;

.full-screen-bg {
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  padding: 10vh 10vw;
  width: 100vw;

  &.half {
    height: 50vh;
    padding: 5vh 10vw;
    width: 100vw;
  }

  .title {
    font-size: 50px;
    text-align: center;
  }

  &.dark {
    color: $white;
  }

  @include media-breakpoint-up(sm) {
    background-attachment: fixed;
  }
}
