.offcanvas-menu {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  // transition: .5s;
  width: 0;
  z-index: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    border-left: solid 4px transparent;
    color: $white;
    display: block;
    padding: 15px;

    .offcanvas-menu-secondary-open {
      display: none;
    }

    .offcanvas-menu-secondary-closed {
      display: inline-block;
    }

    &.active {
      background-color: $gray-500;
      border-color: $gray-800;

      .offcanvas-menu-secondary-open {
        display: inline-block;
      }

      .offcanvas-menu-secondary-closed {
        display: none;
      }
    }

    &:hover {
      background-color: $gray-700;
      border-color: $black;
    }
  }

  .submenu {
    display: none;

    a {
      padding-left: $spacer * 3;
    }

    &.open {
      display: block;
    }
  }
}

.offcanvas-main-content {
  // transition: .5s;

  &.push {
    position: absolute;
    width: 100vw;
  }
}

.menu-lock-toggle,
.offcanvas-menu-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  opacity: .5;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.fixed-top,
.fixed-bottom {
  // transition: left .5s;
}
