.offcanvas-menu {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 0;
  z-index: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $white;
    display: block;
    padding: 15px;

    &:hover {
      background-color: $gray-700;
    }
  }
}

.offcanvas-main-content {
  transition: margin-left .5s;
}

.offcanvas-menu-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  opacity: .5;
  padding: 0;
}
