// Used with keepAtTop jQuery function
.stick-to-top {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.stick-to-bottom {
  bottom: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
