// Neon Colors
$neon-yellow: #cbff01 !default;
$neon-red: #fe0000 !default;
$neon-blue: #02cafd !default;
$neon-green: #00ff01 !default;
$neon-pink: #fb02cd !default;
$neon-orange: #ff6501 !default;
$neon-purple: #c901fe !default;
$black: #000 !default;

$theme-colors: (
  primary: $neon-blue,
  secondary: $neon-orange,
  success: $neon-green,
  info: $neon-purple,
  warning: $neon-yellow,
  danger: $neon-red,
  light: $neon-pink,
  dark: $black
) !default;

$link-color: $neon-blue !default;
